spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/deliveryapp
    username: root
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true

  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 2000

logging.level:
  root: info
  com.twopro.deliveryapp: debug
  org.hibernate.SQL: debug
  org.hibernate.type: trace

ai:
  openai:
    api:
      key: ${OPENAI_API_KEY}
      url: https://api.openai.com/v1/chat/completions